/* GLOBAL */

#secao-sobre .area-limite {
     max-width: 1024px;
     margin: 0 auto;
}

/* SEÇÃO BANNER */

#secao-banner-sobre {
     background-image: url('/public/assets/banner-sobre.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

.box-titulo-banner {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.box-titulo-banner h1 {
     color: #fff;
     font-size: 3.5rem;
     text-transform: uppercase;
     text-shadow: 3px 3px #4f4f4f;
}

/* SEÇÃO SOBRE */

#secao-sobre {
     padding: 3rem 2rem;
}

.texto-sobre {
     text-align: center;
}

.titulo-texto-sobre {
     margin-bottom: 2rem;     
}

.titulo-texto-sobre h2 {
     font-size: 2rem;
}

.titulo-texto-sobre span {
     font-style: italic;
}

.texto-sobre p {
     margin-bottom: 1.2rem;
     line-height: 30px;
}

/* SEÇÃO IMAGENS */

.box-fotos-sobre {
     margin-top: 2rem;
     display: flex;     
}

.box-fotos-sobre img {
     width: 50%;
}

/* MEDIA QUERY */

@media (max-width: 700px) {
     .box-titulo-banner h1 {
          font-size: 2.5rem;
     }
     .titulo-texto-sobre h2 {
          font-size: 1.7rem;
     }
     .box-fotos-sobre {
          flex-direction: column;
     }
     .box-fotos-sobre img {
          width: 100%;
     }
}
@media (max-width: 550px) {
     #secao-sobre {
          padding: 3rem 1rem; 
     }
}